@media screen and (max-width:1024px) {
    .nav-links{
        display: none;
    }
    .feature{
        gap: 30px;
    }
    .feature p{
        font-size: 15px;
    }
    .box1, .box2 {
    height: 200px;
    width: 330px;
}
.content{
  padding: 18px;
  line-height: 1.6;
  font-size: 16px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}
#why-us{
  padding:20px;
  font-size:20px;
}
}

@media screen and (max-width:820px) {
    .feature{
        gap: 25px;
    }
    .img{
     height: 40px;
     width: 40px;
     font-size: 17px;
    }
    .feature p{
        font-size: 13px;
    }
    .viedo-container{
      width: 90%;
    }
    
    .box1, .box2 {
    height: 200px;
    width: 330px;
}
.content{
  font-size: 15px;
}
.image-founder{
  height: 250px;
  width: 250px;
}
#why-us{
  padding:20px;
  font-size:20px;
}
.down{
  gap:120px;
}
.Links{
  font-size: 14px;
}
}

@media screen and (max-width:440px) {

.navbar{
    justify-content: center;
    gap: 30px;
}
.logo{
    width: 200px;
    font-size: 24px;
}
.options{
   justify-content: center;
   width: 150px;
}
.nav-2{
    width: 230px;
}
.modal-content{
    width: 320px;
}
.modal-content h2{
    font-size: 17px;
}

.feature {
    height:70px;
    width: 100%;
    display: flex;
    gap: 0px;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .feature::-webkit-scrollbar {
    display: none;
  }

  .feature > div {
    flex: 0 0 100%;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  #pro-h1{
    font-size: 25px;
  }
  .pro1{
    width: auto;
  }
  .pro p{
    font-size: 17px;
  }
  .product{
    margin-top: 15px;
  }
  .pro-img{
    height: 150px;
    width: 150px;
  }
  .product-container{
   padding:20px;
    gap: 40px;
    justify-content:flex-start;
  }
  .details p{
    font-size: 17px;
  }
  #Explore-h1{
    font-size: 23px;
  }
  .details{
    gap: 10px;
  }
  .viedo-container{
    width: 100%;
    padding:20px
  }
  .new-product{
    flex-direction: column;
    gap: 30px;
  }
  #founder{
    font-size:25px;
    margin-left: 40px;
  }
  .founders{
    flex-direction: column;
  }
  .founder-img{
    display: none;
  }
  .founder-img1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .image-founder1{
   height:250px;
   width:250px;
   border:2px solid black;
   border-radius: 50%;
   display: flex;
  }
  .content{
    width: 100%;
    margin: 0px;
    margin-top: 30px;
    }
    .Links {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    align-items: center;
    height:auto;
    font-size: 11px;
    margin-top: 30px;
  
}
.up{
  gap:20px;
}
.down{
  gap:20px;
}
.mid{
  gap: 20px;
}
.social-links{
  padding: 20px;
  margin-top:10px;
}
.bottom{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top:10px;
  height: 60px;
}
.footer{
  height:260px;
}
    .footer-legal p{
  font-size:10px !important;
}
.developer p{
  font-size: 9px !important;
}

}
